<header xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <h1 class="logo"><a href="/">TasteMate</a></h1>
    <nav>
        <ul>
            <li sec:authorize="isAuthenticated()">
                <a th:href="@{/mypage}">마이페이지</a>
            </li>
            <li sec:authorize="isAuthenticated()">
                <a th:href="@{/api/logout}" th:onclick="return confirm('로그아웃 하시겠습니까?');">로그아웃</a>
            </li>
            <li sec:authorize="!isAuthenticated()">
                <a th:href="@{/login}">로그인</a>
            </li>
            <li sec:authorize="!isAuthenticated()">
                <a th:href="@{/register}">회원가입</a>
            </li>
        </ul>
    </nav>
</header>
